body
	font:
		family: 'Roboto'
	-webkit-font-smoothing: antialiased
	@media screen and (min-width: 768px)
		overflow: hidden
		height: 100vh

p
	margin:
		bottom: 1em
em
	font:
		style: italic
small
	font:
		size: 80%

code
	padding:
		top: 2px
		right: 6px
		bottom: 2px
		left: 6px
	background:
		color: $primary
	color: white
	font:
		family: monospace
	border-radius: 3px
sup
	font:
		size: 80%
	vertical-align: 50%
	letter-spacing: 0.09em
	margin:
		left: .09em
main
	@media screen and (min-width: 768px)
		height: 100vh
header
	display: flex

a
	color: $accent
	text:
		decoration: none
	&:hover 
		color: darken($accent, 10%)

.container
	@media screen and (min-width: 768px)
		display: flex
		flex-direction: row
		width: 300vw
		height: 100vh
		max-width: 100vw
.headline
	font:
		size: 18px
		weight: 600
	margin:
		bottom: 1em

.secondary-headline
	font:
		size: 14px
		weight: 600
	text:
		transform: uppercase
	margin:
		bottom: 1em
	letter-spacing: .09em

.subheadline
	text-transform: uppercase
	font:
		size: 12px
		weight: 500
	letter-spacing: .09em
	line-height: 1.35

#app
	@media screen and (min-width: 768px)
		height: 100%
		position: relative