.profile
	flex-basis: 20%

	&__img
		max-height: 400px
		max-width: 100%

.content
	padding:
		top: 10%
		left: 10%
		right: 10%
		bottom: 10%
	&__headline
		font:
			size: 18px
			weight: 600
		margin:
			bottom: 1em
	&__description
		font:
			size: 14px
		line-height: 1.8

