.skills
	@media screen and (min-width: 768px)
		min-width: 100vw
		flex-basis: 50%
		max-width: 50%
		min-width: auto
	@include scroll
	padding:
		top: 40px
		right: 40px
		bottom: 40px
		left: 40px
	&__headline
		margin:
			bottom: 40px
	.charts
		@media screen and (min-width: 768px)
			display: flex
		&__container
			display: flex
			flex-wrap: wrap
			span
				display: inline-block
				margin-bottom: 30px
			img 
				max-width: 90%
				min-width: 40%
			@media screen and (min-width: 768px)
				display: flex
				flex-wrap: nowrap
				max-width: 100%
		.chart
			max-width: 100%
			&__container
				width: 100%
				position: relative
				margin:
					bottom: 40px
				@media screen and (min-width: 768px)
					flex-basis: 30%
					max-width: 50%
				
